<div class="container my-5 bg-light">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 border bg-info rounded-lg py-3">

      <div class="function bg-warning rounded-lg my-2 p-2">

        <form action="/records" method="GET">

          <div class="searchDate">

            <div class="form-group row">
              <label for="dateFrom" class="col-sm-2 col-form-label col-form-label-lg">From：</label>
              <div class="col-sm-10">
                <input type="date" class="form-control form-control-lg" id="dateFrom" name="dateFrom"
                  {{#if dateFrom}}value="{{dateFrom}}" {{/if}}>
              </div>
            </div>

            <div class="form-group row">
              <label for="dateTo" class="col-sm-2 col-form-label col-form-label-lg">To：</label>
              <div class="col-sm-10">
                <input type="date" class="form-control form-control-lg" id="dateTo" name="dateTo"
                  {{#if dateTo}}value="{{dateTo}}" {{/if}}>
              </div>
            </div>

            <div class="form-group row">
              <label for="category" class="col-sm-2 col-form-label col-form-label-lg">類別*：</label>
              <div class="col-sm-10">
                <select class="custom-select" style="height:50px;font-size:20px" id="category" name="category" required>
                  {{!-- <option selected>選擇類別</option> --}}
                  <option value="all">所有紀錄</option>
                  <option value="home" {{#if home}}selected{{/if}}>家居物業</option>
                  <option value="transport" {{#if transport}}selected{{/if}}>交通出行</option>
                  <option value="entertain" {{#if entertain}}selected{{/if}}>休閒娛樂</option>
                  <option value="food" {{#if food}}selected{{/if}}>餐飲食品</option>
                  <option value="other" {{#if other}}selected{{/if}}>其他</option>
                </select>
              </div>
            </div>

          </div>

          <div class="buttons">

            <div class="form-group row d-flex justify-content-end mb-2">
              <div class="col-12">
                <button type="submit" class="btn btn-info btn-block">搜尋帳本紀錄</button>
              </div>
            </div>

            <a href="/records?field=date{{#if dateFrom}}&dateFrom={{dateFrom}}{{/if}}{{#if dateTo}}&dateTo={{dateTo}}{{/if}}{{#if category}}&category={{category}}{{/if}}{{#if nextOrderForDate}}&order={{nextOrderForDate}}{{/if}}"
              class="w-100 h-75 btn btn-primary btn-block mr-1">時間排序</a>

            <a href="/records?field=amount{{#if dateFrom}}&dateFrom={{dateFrom}}{{/if}}{{#if dateTo}}&dateTo={{dateTo}}{{/if}}{{#if category}}&category={{category}}{{/if}}{{#if nextOrderForAmount}}&order={{nextOrderForAmount}}{{/if}}"
              class="w-100 btn btn-primary btn-block mb-2">金額排序</a>

            <a href="/records/new" class="btn btn-info mb-2 btn-block ">新增支出</a>

          </div>

        </form>

      </div>

      <div id="show" class="mt-3">
        總金額：<h1>{{totalAmount}} $</h1>
      </div>
      <ul class="list-group">
        {{#each records}}
          <li class="list-group-item p-2 d-flex justify-content-center bg-light">
            <div class="row w-100 d-flex justify-content-between">
              <div class="col-9 d-flex justify-content-between">
                <div id="item detail" class="d-flex justify-content-between align-items-center">
                  <div class="d-flex justify-content-center" style="width: 70px">
                    {{#if this.home}}<i class="fas fa-home fa-3x mr-2"></i>{{/if}}
                    {{#if this.transport}}<i class="fas fa-shuttle-van fa-3x mr-2"></i>{{/if}}
                    {{#if this.entertain}}<i class="fas fa-grin-beam fa-3x mr-2"></i>{{/if}}
                    {{#if this.food}}<i class="fas fa-utensils fa-3x mr-2"></i>{{/if}}
                    {{#if this.other}}<i class="fas fa-pen fa-3x mr-2"></i>{{/if}}
                  </div>
                  <div class="mt-1">
                    <h4 class="mb-0">{{{this.name}}}({{this.merchant}})</h4>
                    <h6>{{{this.date}}}</h6>
                  </div>
                </div>
                <h4 class="mt-3" style="height:30;line-height:25px;">
                  {{{this.amount}}} $
                </h4>
              </div>
              <div class="col-auto d-flex align-items-center">
                <a href="/records/{{{this.id}}}/edit" class="btn btn-success mr-1">修改</a>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Modal{{{this.id}}}">
                  刪除
                </button>

                <div class="modal fade" id="Modal{{{this.id}}}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                          您正在刪除一筆資料
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        確定要刪除{{this.name}}嗎?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">放棄</button>
                        <form method="POST" action="/records/{{{this.id}}}/delete?_method=DELETE"
                          style="display: inline;">
                          <button class="btn btn-danger p-1 btn-lg" type="submit">刪除</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </li>
        {{/each}}
      </ul>

    </div>
  </div>
</div>